<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Клиент</title>
</head>
<body>

<h1>{{client.name}}</h1>

<form method="POST">
    {% csrf_token %}
    {% for account in client.account_set.all %}
       <li> Номер счета {{ account.number }} - {{ account.account_type }} - {{ account.credit.sum }} </li>
    {% endfor %}


</form>


</body>
</html>